
@{
    Layout = null;
}

<!DOCTYPE html>

<a style="line-height:15px" href="@Url.Action("Giohang","GioHang")">
    <div style="background-color: green;">
        <img style="margin-left: 30px;float: left;" class="icon_menu" src="~/images/icon_cart.png" />
        <div style="float: right; background-color: red;margin:auto; color: white;border-radius: 50%; width: 20px; height: 20px">@ViewBag.Tongsoluong</div>
    </div>
    
    <p style="clear: both">Giỏ hàng</p>
    
</a>
